article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden], template {
  display: none;
}

html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a {
  background: transparent;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q:before, q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button, input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

@media (min-width: 0) {
  body::before {
    content: '{ "current" : "small", "all" : [small], "position" : 0 }';
    display: none;
  }
}
/*! Grid based on https://github.com/necolas/griddle by Nicolas Gallagher (@necolas) */
body {
  font-size: 1em;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.25em;
  padding-right: 1.25em;
}

img {
  max-width: 100%;
}

.no-js .responsive-image {
  display: none;
}

.grid {
  display: block;
  padding: 0;
  margin: 0 -0.625em;
  text-align: left;
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
}

.opera:-o-prefocus,
.grid {
  word-spacing: -0.43em;
}

.grid > .grid {
  overflow: hidden;
  margin-right: 0;
  margin-left: 0;
}

.grid__cell {
  width: 100%;
  display: -moz-inline-stack;
  display: inline-block;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0 0.625em;
  /* controls vertical positioning of units */
  vertical-align: top;
  /* keeps unit content correctly aligned */
  text-align: left;
  /* reset text defaults */
  letter-spacing: normal;
  word-spacing: normal;
  text-rendering: auto;
}

.grid--center {
  text-align: center;
}

.grid__cell--center {
  display: block;
  margin: 0 auto;
}

/* This mixin will create column attributes for the element
 * it's called in
 *
 * It uses variables to make life easier. Rather than code
 * multiple attribute sets we use a single set that takes 2
 * attributes and defaults the other 2.
 *
 * We use number of columns rather than width for convenience.
 * Counting width means we have to do percentages or be very
 * strict in the width of our content.
 *
 * See https://developer.mozilla.org/en-US/docs/Web/CSS/column-width
 * for more information on specifying column width in CSS
*/
a {
  text-decoration: none;
}
a [href]:hover {
  background: #ffa;
}

a[href^="http"] {
  text-decoration: underline;
}

blockquote {
  font-family: 'fira-sans-italic';
  margin-bottom: 1em;
  margin-left: 1em;
  padding-left: 1em;
}

aside.pull {
  margin-left: -20%;
  margin-top: .2em;
  margin-bottom: .5em;
}

.opening {
  coor: #f44336;
  font-size: 1.5em;
  line-height: 1.2;
}

.margin-notes,
.content-left {
  width: 230px;
  margin-left: -230px;
  margin-right: 20px;
  text-align: right;
  font-size: .75em;
}

.margin-notes-right,
.content-right {
  width: 230px;
  margin-left: 760px;
  margin-right: -20px;
  text-align: left;
  font-size: .75em;
  position: absolute;
}

.content-right {
  width: 230px;
  margin-left: 760px;
  margin-right: -20px;
  text-align: left;
  font-size: .75em;
  position: absolute;
}

.content-right ul,
.content-left ul {
  list-style: none;
}

/*
  asides stuff
*/
aside.lowlight {
  opacity: .3;
}

aside.lowlight:hover {
  opacity: 1;
}

aside h3 {
  text-align: center;
  padding-left: 20px;
}

@font-face {
  font-family: "fira-sans-light";
  src: url("../fonts/firasans-light-webfont.eot");
  src: url("../fonts/firasans-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-light-webfont.woff2") format("woff2"), url("../fonts/firasans-light-webfont.woff") format("woff"), url("../fonts/firasans-light-webfont.ttf") format("truetype"), url("../fonts/firasans-light-webfont.svg#fira-sans-light") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fira-sans-bold";
  src: url("../fonts/firasans-bold-webfont.eot");
  src: url("../fonts/firasans-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-bold-webfont.woff2") format("woff2"), url("../fonts/firasans-bold-webfont.woff") format("woff"), url("../fonts/firasans-bold-webfont.ttf") format("truetype"), url("../fonts/firasans-bold-webfont.svg#fira-sans-bold") format("svg");
  font-weight: "weight: bold";
  font-style: normal;
}
@font-face {
  font-family: "fira-sans-italic";
  src: url("../fonts/firasans-lightitalic-webfont.eot");
  src: url("../fonts/firasans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/firasans-lightitalic-webfont.woff") format("woff"), url("../fonts/firasans-lightitalic-webfont.ttf") format("truetype"), url("../fonts/firasans-lightitalic-webfont.svg#fira-sans-italic") format("svg");
  font-weight: "style: italics";
  font-style: normal;
}
@font-face {
  font-family: "fira-sans-boldit";
  src: url("../fonts/firasans-lightitalic-webfont.eot");
  src: url("../fonts/firasans-lightitalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/firasans-lightitalic-webfont.woff2") format("woff2"), url("../fonts/firasans-lightitalic-webfont.woff") format("woff"), url("../fonts/firasans-lightitalic-webfont.ttf") format("truetype"), url("../fonts/firasans-lightitalic-webfont.svg#fira-sans-boldit") format("svg");
  font-weight: "weight: bold";
  font-style: "style: italics";
}
@font-face {
  font-family: "sourcecode-pro";
  src: url("../sourcecodepro-medium-webfont.eot");
  src: url("../sourcecodepro-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../sourcecodepro-medium-webfont.woff2") format("woff2"), url("../sourcecodepro-medium-webfont.woff") format("woff"), url("../sourcecodepro-medium-webfont.ttf") format("truetype"), url("../sourcecodepro-medium-webfont.svg#sourcecode-pro") format("svg");
  font-weight: normal;
  font-style: normal;
}
html {
  color: #333;
  font-family: 'fira-sans-light';
  line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'fira-sans-bold';
  hyphens: none;
}

h4 {
  text-transform: uppercase;
  letter-spacing: .1em;
}

strong {
  font-family: 'fira-sans-bold';
}

em {
  font-family: 'fira-sans-italic';
}

strong em,
em strong {
  font-family: 'fira-sans-boldit';
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.wrap {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, transparent 10%, rgba(102, 102, 255, 0.25) 10%, rgba(179, 179, 255, 0.25) 90%, transparent 90%);
  background-size: 6.25%;
  background-origin: content-box;
  background-clip: content-box;
  background-position: left top;
  height: 100%;
}
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

.main-content {
  background-color: rgba(255, 0, 255, 0.1);
  width: 61.25%;
  float: left;
  margin-left: 19.375%;
  margin-right: -100%;
  height: 100%;
}
.main-content:after {
  content: " ";
  display: block;
  clear: both;
}

aside {
  width: 17.5%;
  float: left;
  margin-left: 63.125%;
  margin-right: -100%;
  width: 100%;
  border-top: 3px double #ddd;
  border-bottom: 3px double #ddd;
  color: #666;
  line-height: 1.4em;
  background-color: rgba(0, 255, 255, 0.1);
}
aside:after {
  content: " ";
  display: block;
  clear: both;
}

iframe,
img,
video,
object {
  border-width: thin;
  border-style: solid;
  border-color: #f44336;
  display: block;
  max-width: 100%;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

p p {
  text-indent: 1em;
}

.col2 {
  width: 100%;
  /* How many columns? */
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  /* Space between columns */
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
  /* How do we fill the content of our columns, default is to balance */
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  /* Column span, defaul is not to span columns */
  -moz-column-span: none;
  -webkit-column-span: none;
  column-span: none;
}

.col3 {
  width: 100%;
  /* How many columns? */
  -moz-column-count: 3;
  -webkit-column-count: 3;
  column-count: 3;
  /* Space between columns */
  -moz-column-gap: 10px;
  -webkit-column-gap: 10px;
  column-gap: 10px;
  /* How do we fill the content of our columns, default is to balance */
  -moz-column-fill: balance;
  -webkit-column-fill: balance;
  column-fill: balance;
  /* Column span, defaul is not to span columns */
  -moz-column-span: none;
  -webkit-column-span: none;
  column-span: none;
}

/*# sourceMappingURL=main.css.map */
