// List items
ul {
  li {
    list-style-type: square;
    list-style-position: inside;
  }
}

ol {
  li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }
}

.toc {
  ul {
    list-style-type: none;
    li {
      list-style-type: none;
      padding:0;
      a {
        font-size: .8em
      }
    }
  }
}

