// @import must be at top of file, otherwise CSS will not work
//@import url("https://hello.myfonts.net/count/2e02d0");
//@import url("https://hello.myfonts.net/count/2e03fa");

// Webfonts and licenses
//
//* Webfont: StoneHumanistITCStd-Medium by ITC
// * URL: http://www.myfonts.com/fonts/itc/stone-humanist-itc/std-medium/
// *
// * Webfont: StoneHumanistITCStd-MediumIta by ITC
// * URL: http://www.myfonts.com/fonts/itc/stone-humanist-itc/std-medium-italic/
// *
// * Webfont: StoneHumanistITCStd-Semi by ITC
// * URL: http://www.myfonts.com/fonts/itc/stone-humanist-itc/std-semibold/
// *
// * Webfont: StoneHumanistITCStd-SemiItalic by ITC
// * URL: http://www.myfonts.com/fonts/itc/stone-humanist-itc/std-semibold-italic/
// *
// *
// * License: http://www.myfonts.com/viewlicense?type=web&buildid=3015376
// * Licensed pageviews: 250,000
// * Webfonts copyright: Copyright 2005 International Typeface Corporation. All rights reserved.
// *
// * © 2015 MyFonts Inc

// First load my set of mixins and partials
@import 'partials/variables';
@import 'partials/mixins';
// Import normalize first
@import 'partials/normalize';
// Import the susy partials specific to this project
@import 'partials/susy';
// Breakpoint support for sussy and for standalone queries
@import '../bower_components/breakpoint/breakpoint/breakpoint';
// Import fonts partials to add the font-declaration mixin
@import 'partials/fonts';
// Import fonts partials
@import 'partials/columns';
// Import link tools
@import 'partials/links';
// Import modular scale
@import 'partials/modular-scale';
// Import marginalia
@import 'partials/marginalia';


// Font inclusion
// We use all 4 variations of Stone Humanist ITC Std font
// for body text, The font/style associations are found on
// the partials/_styles.scss partial.
@include font-declaration('Stone-Humanist', '../fonts/2E02D0_0_0');
@include font-declaration('Stone-Humanist-Ita', '../fonts/2E02D0_1_0');
@include font-declaration('Stone-Humanist-Semi', '../fonts/2E02D0_2_0');
@include font-declaration('Stone-Humanist-SemiItalic', '../fonts/2E02D0_3_0');
// ALTERNATE FONTS
//If you make any changes here, remember to change the values in partials/_styles.scss
//to match.
//Also, if you use Skolar you may have to switch your heading font.
//
// Alternate body font 1: Skolar
//@include font-declaration('Skolar', '../fonts/skolarlatinweb-light-webfont');
//@include font-declaration('Skolar-Ita', '../fonts/skolarlatinweb-lightitalic-webfont');
//@include font-declaration('Skolar-Semi', '../fonts/skolarlatinweb-semibold-webfont');
//@include font-declaration('Skolar-SemiItalic', '../fonts/skolarlatinweb-semibolditalic-webfont');
// Alternate body font 2: Fira Sans
//If you make any changes here, remember to change the values in partials/_styles.scss
//to match.
//@include font-declaration('fira-sans-light', '../fonts/firasans-light-webfont');
//@include font-declaration('fira-sans-bold', '../fonts/firasans-bold-webfont', 'weight: bold');
//@include font-declaration('fira-sans-italic', '../fonts/firasans-lightitalic-webfont', 'style: italics');
//@include font-declaration('fira-sans-boldit', '../fonts/firasans-lightitalic-webfont', 'weight: bold', 'style: italics');
// Using Roboto Slab for headings
@include font-declaration('Roboto Slab', '../fonts/robotoslab-regular-webfont');
// We use sourcode pro for code blocks (highlighted and editable)
@include font-declaration('sourcecodepro-medium-webfont', '../fonts/sourcecodepro-medium-webfont');

// @name html
// @description Default settings for page/site/app
//
html {
  color: #554c4d;
  font-family: 'Stone-Humanist';
//  font-family: 'Skolar';
  line-height: 1.3;
  @include font-ligature;
  @include font-kerning;
}

// Import heading realted styles
@import 'partials/headings';

// Import style to font mapping
@import 'partials/styles';

// Import rules for multimedia content
@import 'partials/multimedia';

// Import modular scale
@import 'partials/modular-scale';
// Import vertical rythm
@import 'partials/vertical-rhythms';

// Import paragraph styles
@import 'partials/paragraphs';

// Experimental play with social media buttons
@import 'partials/social';

// Import image related selectors
@import 'partials/images';

// Import code related selectors
@import 'partials/code';

// Beginning work with media queries
@import 'partials/mediaqueries';

// Dealing with boilerplate's browserupgrade warnining
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

// @name 2col class
// @description Class for two column content
//
// @markup
//   <div class="col2">2 column content goes here</button>
//
//The classes below use the colum mixin to create 2 and 3-column layouts
.col2 {
  width: 100%;
  @include column-attribs (2, 20px);
}

// @name 3col class
// @description Class for three column content
//
// @markup
//   <div class="col3">3 column content goes here</button>
//
.col3 {
  width: 100%;
  @include column-attribs (3, 10px);
}

// @name Button
// @description Your standard form button.
//
// @state :hover - Highlights when hovering.
// @state :disabled - Dims the button when disabled.
// @state .primary - Indicates button is the primary action.
// @state .smaller - A smaller button
//
// @markup
//   <button>This is a button</button>
//
