# Travis CI config
# See the following for more info
# https://gist.github.com/travishorn/5869188 for issues with peer deps
# https://github.com/npm/npm/issues/3958
# http://stackoverflow.com/questions/21128478/run-grunt-build-command-on-travis-ci
language: node_js
node_js: '0.12'
before_install:
  # install scsslint gem to make the grunt task happy
  - gem install scss-lint
  # why do we need to install npm, doesn't it come with node?
  - npm install -g npm
  # Install grunt and grunt-cli globally
  - npm install -g grunt
  - npm install -g grunt-cli
install: npm install
before_script: grunt --force --verbose
secure: "rPeo4Lv0CKOeLPYaXmTuvqhgudcUPxLro9vlSOm/2tswqLiTBgcsz2O1ZpZEz/rt1Q/8seO+AEcmIw85t55X1kRrMX/u+JW2Q3O6B7wlwfEtJl1XnY5Q96AqMuFMxbqWoFVisyjrRJmhQ+uXLhRy0y4e0sh3XPSuw5AX4of6g1pFz46b4B05nw6/pXpsEz8aqZxrHUYjqTi5myNl+ZN9amsbENWfXKsYXzmhAA/Rd/CZ1IMymgsi5wy5J2n+BvwNCvSC9E6WY+Oe+KMBXwJgiwZNpGc34z5PHItNHmfbIT8jM3F0RVnXNfYtbwWseQXTiUtA79hwjkealI071u5yMjGjJ9yo3SVdX6lj7HlNSA8qwCFhPZv4TcvlNcalAqhc40vWOgpuMzvONeYFlQBSjnp7iRSefAPnNBE1zzAmMTeht46qXVzSepIHPyjjYEH8nUWmuo61sqPkA8D9mJJhdZCamrgQBDiuK1T3mh3CMugM7fJv16dOICA6nTNkSFLOT0oqZI/+47Qy6U9Z0Bu/0Fp1IsD7HIAf/3Ip25Usy5HP3ZJLcmJmTQzRnYAyj/mY2oXx+KfEjTq3k+CA/ZVloWXwl0HrgSfuhMD2m1dWqguCOYaZi1CBH32JrCF1oGmJZeAiL1iH2bjR8yv+y0YWMV4cUV1s/uDaCV6iCAQEKZA="
