////
/// @group Code
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////

/// Provides the basis for other code-related mixins. All The attributes are parameterized to make them easier to chage.
/// @example
///   div .code-example {
///     @include code-block();
///   }
/// @access public
/// @param {String} $font-family [sourcecodepro-medium-webfont] - font family to use as primary.
/// @param {String} $bgcolor [#666] - background color
/// @param {String} $color [white] - text-color
/// @param {String} $padding [20px] - padding amount
/// @param {String} $whitespace [pre] - how to handle white space
@mixin code-base(
  $font-family: sourcecodepro-medium-webfont,
  $bgcolor: #666,
  $color: white,
  $padding: 20px,
  $white-space: pre
  ){
  font-family: $font-family, monospace;
  background-color: $bgcolor;
  color: $color;
  padding: $padding;
  white-space: $white-space;
}

/// Using the code-base mixin it adds display-block to create Github style fenced code blocks
/// @example
///  code {
///    @include code-inline();
///  }
/// @access public
/// @param {String} $font-family [sourcecodepro-medium-webfont] - font family to use as primary.
/// @param {String} $bgcolor [#666] - background color
/// @param {String} $color [white] - text-color
/// @param {String} $padding [20px] - padding amount
/// @param {String} $whitespace [pre] - how to handle white space
@mixin code-block() {
  @include code-base();
  display: block;
}


/// Uses code-base to generate inline code snippets, like GFM's backtick inline code
/// @access public
/// @example
///  code {
///    @include code-inline();
///  }
/// @param {String} $font-family [sourcecodepro-medium-webfont] - font family to use as primary.
/// @param {String} $bgcolor [#666] - background color
/// @param {String} $color [white] - text-color
/// @param {String} $padding [20px] - padding amount
/// @param {String} $whitespace [pre] - how to handle white space
@mixin code-inline() {
  @include code-base();
  display: inline;
}

/// TO be used when create `contentEditable` regions. It'll change the background color add `clear:both` and a small margin to the bottom of the element.
/// @example
///  style {
///   @include code-editable();
///  }
/// @access public
/// @param {String} $font-family [sourcecodepro-medium-webfont] - font family to use as primary.
/// @param {String} $bgcolor [#666] - background color
/// @param {String} $color [white] - text-color
/// @param {String} $padding [20px] - padding amount
/// @param {String} $whitespace [pre] - how to handle white space
@mixin code-editable {
  @include code-base($bgcolor: #333);
  clear: both;
  margin-bottom: .5em;
}

div .code-example {
  @include code-block();
}

pre {
  white-space: pre;

  code {
    font-family: 'sourcecodepro-medium-webfont', monospace;
    font-size: 80%;
  }
}

// for content editable styles
style {
  @include code-editable();
}

div .css-example {
  counter-increment: css_count;

  + p:before {
    content: 'CSS Example ' counter(section_count) '-' counter(css_count) ': ';
  }
}

iframe .cp_embed_iframe {
  counter-increment: css_count;

  + p:before {
    content: 'CSS Example ' counter(section_count) '-' counter(css_count) ': ';
  }
}

