////
/// @group Columns
/// @author [Carlos Araya](http://publishing-project.rivendellweb.net/)
////

/// This mixin will create column attributes for the element it's called in
///
/// It uses default attributes to make life easier.
///
/// We use number of columns rather than width for convenience. Counting width means we have to do percentages or be very strict in the width of our content.
///
/// We could simplify the mixin by just using the unprefixed version and let tools like prefixfree or autoprefixer add prefixes where needed but this mixin was designed to work without needing additional tools or script to work...
///
/// It can also conditionally remove Mozilla or Webkit prefixed attributes by passing $moz or webkit as false in the mixin include instruction
///
/// if you want to change it then go ahead.
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/column-width More information on specifying column width in CSS
///
/// @example
/// .col2 {
///   width: 100%;
///   @include column-attribs (2, 20px, $moz: false, $webkit:false);
/// }
/// @example
/// .col3 {
///   width: 100%;
///   @include column-attribs (3, 10px);
/// }
/// @access public
/// @param {String} $cols [2] - How many columns.
/// @param {String} $gap [20px] - Gap between columns
/// @param {String} $fill [balance] - How to fill column space
/// @param {String} $span [none] - Do we span accross columns
/// @param {String} $moz [true] - Do we include -moz prefixed declarations
/// @param {String} $webkit [true] - Do we include -webkit prefixed declarations
@mixin column-attribs ($cols, $gap, $fill: balance, $span: none){
  /* How many columns? */
  -moz-column-count: $cols;
  -webkit-column-count: $cols;
  column-count: $cols;
  /* Space between columns */
  -moz-column-gap: $gap;
  -webkit-column-gap: $gap;
  column-gap: $gap;
  /* How do we fill the content of our columns, default is to balance */
  -moz-column-fill: $fill;
  -webkit-column-fill: $fill;
  column-fill: $fill;
  /* Column span, defaul is not to span columns */
  -moz-column-span: $span;
  -webkit-column-span: $span;
  column-span: $span;
}

