/*  Photo blocks
-------------------------------------- */


figure {
  counter-increment: figure_count;
  margin-bottom: 1em;
  margin-top: 1em;

  figcaption {
    font-weight: 700;
    padding-bottom: 1em;
    padding-top: .2em;
  }

  figcaption::before {
    content: 'Figure ' counter(figure_count) ': ';
  }

  img:hover {
    border: 3px solid $red;
  }
}


.iconmelon,
.im {
  position: relative;
  width: 32px;
  height: 32px;
  display: block;
  fill: #525151;
}
.iconmelon:after,
.im:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
