section {
  counter-increment: section_count;
  counter-reset: figure_count;
}

figure {
  counter-increment: figure_count;
  margin: 2em auto;
  max-width: 600px;
  max-width: -moz-min-content;
  max-width: -webkit-min-content;
  max-width: min-content;

  figcaption {
    font-family: 'Stone-Humanist-SemiItalic', sans-serif;
    margin-top: -.25em;
  }

  figcaption::before {
    content: 'Figure ' counter(section_count) '-' counter(figure_count) ': ';
  }

  img {
    max-width: inherit;
  }
}

