// List items
ul {
  li {
    list-style-type: square;
    list-style-position: inside;
  }
}

ol {
  li {
    list-style-type: decimal-leading-zero;
    list-style-position: inside;
  }
}

.toc {
  ul {
    list-style-type: none;
    li {
      list-style-type: none;
      padding:0;
      a {
        font-size: .75em
      }
    }
  }
}

.font-glossary {
  dt {
    font-family: 'Stone-Humanist-Semi';
    text-align: center;
    text-transform: uppercase;
  }

  dd {
    margin-bottom: 1em;
  }

  dd:last-of-type {
    margin-bottom: 2em;
  }
}
