// MULTIMEDIA ELEMENT FORMATTING
// Note that the max-width trick for responsive elements
// does not work in older versions of IE.

iframe,
img,
video,
object {
  @include solid-thin;
  border-color: $red;
  clear:both;
  display: block;
  max-width: 100%;
}
