// MULTIMEDIA ELEMENT FORMATTING
// Note that the max-width trick for responsive elements
// does not work in older versions of IE.

video,
img,
object {
  @include solid-thin;
  border-color: $red;
  clear:both;
  display: block;
  margin: 1em auto;
  max-width: 100%;
}


iframe {
  @include solid-thin;
  border-color: $red;
  clear:both;
  display: block;
  margin-bottom: 1em;
  margin-top: 1em;
  max-width: 100%;
}

p.video-caption{
    margin-top: 0.5em;
  }
