// MULTIMEDIA ELEMENT FORMATTING
// Note that the max-width trick for responsive elements
// does not work in older versions of IE.

video,
object {
  @include solid-thin;
  clear:both;
  display: block;
  margin: 1em auto;
  max-width: 100%;
}


div.video {
  //@include solid-thin;
  margin: 1em auto;
  max-width: 500px;
  max-width: min-content;

  iframe {
    clear:both;
//    display: block;
    max-width: inherit;
  }

  p {
    font-style: italic;
    font-weight: bold;
    margin-top: -.125em;
  }
}
